.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.BurgerParent {
    position: absolute;
    bottom: -28px;
    right: 1px;
}

.BurgerParent>div {
    width: 100px;
    height: 100px;
}