.Content {
    margin-top: 72px;
    height: calc(100vh - 114px);
    animation-name: drop;
    animation-duration: 1s;
}

@keyframes drop {
    0% {
        height: 0;
    }
    100% {
        height: calc(100vh - 114px);
    }
}