.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}

.Alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.AlertDanger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.Alert span {
    display: block;
    text-align: start;
    margin-bottom: 4px;
}